@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* use rgba value */
  :root {
    /* ### Neutral */

    --color-bg: 32 45 55; /*Background*/
    --color-text: 255 255 255; /*text*/
    --color-element: 43 57 69; /*Elements*/
    --color-white: 255 255 255; /*White*/
    --color-input: 133 133 133; /*Input*/
  }

  [data-theme='light'] {
    --color-bg: 250 250 250; /*Background*/
    --color-text: 17 21 23; /*text*/
    --color-element: 255 255 255; /*Elements*/
    --color-white: 255 255 255; /*White*/
    --color-input: 133 133 133; /*Input*/
  }

  html,
  body {
    @apply font-light font-default;
  }
}

/* :root { */
/* Neutral */

/* --color-bg: hsl(207, 26%, 17%); Background */
/* --color-text: hsl(0, 0%, 100%); text */
/* --color-element: hsl(209, 23%, 22%); Elements/ */
/* --color-white: hsl(0, 0%, 100%); White */
/* --color-input: hsl(0, 0%, 52%); Input */
/* } */

/* [data-theme='light'] { */
/* --color-bg: hsl(0, 0%, 98%); Background */
/* --color-text: hsl(200, 15%, 8%); text */
/* --color-element: hsl(0, 0%, 100%); Elements */
/* --color-white: hsl(0, 0%, 100%); White */
/* --color-input: hsl(0, 0%, 52%); Input */
/* } */
